// Common style
// ----------- Color -------------
$green: #1c8d2b;
$accent: #1c8d2b; // основной цвет кнопок
$accent-light: #1dd836; // различные hover эффекты
// winter
// $main-light: #5cc7f1; 
// $accent: #0850f2;

// summer
$main-light: #f0ff1b; // цвет градиента
$main: $accent; 
$title-color: black;
$text-color: rgb(46, 46, 46);
$text-error-color: red;
$text-success-color: $green;

// Popup
$bg-popup: rgba(0, 0, 0, .6);

// Input
$border: #9aa7ac;

// bg
$bg-wrapper: rgb(228, 228, 228);

// btn 
$btn-admin-dark: rgb(46, 46, 46);

$btn-formlogin-color: white;
$btn-formlogin-bg: $accent-light;
$btn-formlogin-hover-bg: $accent;
$btn-formlogin-disable-bg: darkgrey;

$btn-select-popup-border: lightgray;
$btn-select-popup-state-border: darkgray;

$btn-select-menu-color: $main;
$btn-select-menu-bg: white;

// cell
$cell-border: gray;
$cell-active-border: $main;
$cell-active-text: white;

//loader
$loader-home: #5cc7f1;
$loader-admin: #5cc7f1;

//icon 
$icon-loadfile: $green;

//gradient
$gradient-main: linear-gradient(90deg, $main 0%, $main-light 50%, $main 100%);
$gradient-secondary: radial-gradient(circle, $main 0%, $main-light 50%, $main 100%);
;


// ----------- Font-Size -------------
$text-small: 12px;
$text-normal: 18px;
$text-big: 24px;
$text-veryBig: 32px;
$text-xxl: 38px;
$text-overSize: 46px;

$title-small: 24px;
$title-normal: 32px;
$title-medium: 40px;
$title-big: 48px;
$title-veryBig: 64px;

$subtitle-small: 18px;
$subtitle-normal: 24px;
$subtitle-big: 32px;

// ----------- Padding, Margin, Gap -------------
$gap-small: 10px;
$gap-normal: 20px;
$gap-medium: 30px;
$gap-big: 40px;
$gap-xxl: 60px;
$gap-veryBig: 100px;

// ----------- Border-radius -------------
$radius-small: 5px;
$radius-normal: 10px;
$radius-big: 20px;

// ----------- QueryPoints -------------
$mini: 290px;
$mobile-small: 440px;
$mobile: 600px;
$tabletop: 1200px;
$desktop: 1600px;
$desltop-big: 1900px;

$height-small: 600px;
$height-mobile: 700px;
$height-tabletop: 800px;
$height-tabletop-big: 900px;
$height-desktop: 950px;
$height-desktop-big: 1100px;